* {
	margin: 0px;
	padding: 0px;
}

#div-container{
	width: 900px;
	margin: auto;
}

#div-cabecalho {
	background-color: red;
	margin: 10px;
	width: 900px;
	height: 70px;
	text-align: center;
}

#div-menu-barra {
	background-color: green;
	margin: 10px;
	width: 900px;
	height: 50px;
	text-align: center;
}

#div-corpo {
	margin:10px;
	width: 900px;
	height: 500px;

}

#div-menu-lateral {
	background-color: yellow;
	width: 150px;
	height: 500px;
	float: left;
	margin-right: 10px;
	text-align: center;
}

#div-conteudo {
	width:580px; 
	height:500px;
	float: left;
	margin-left: 0px 10px;
}

#div-conteudo1 {
	background-color: lightgreen;
	width: 580px;
	height: 245px;
	margin-bottom: 10px;
}

#div-conteudo2 {
	background-color: lightblue;
	width: 580px;
	height: 245px;
}

#div-extra{
background-color: purple;
	width: 150px;
	height: 500px;
	float:left;
	margin-left: 10px;
	text-align: center;
}	

#div-rodape {
	background-color: cyan;
	margin: 10px;
	width: 900px;
	height: 70px;
	text-align: center;
}

