table, td, th {
	border: 1px dotted;
}

table{
	width: 70%;
	margin: auto;
}

.coluna-nome {
	width: 60%;
}

.alinha-centro {
	text-align: center;
}

tr:nth-child(even) {
	background-color: lightblue;
}

tr:nth-child(odd) {
	background-color: lightgreen;
}